* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 1rem;
  color: white;
  background: teal;
  font-weight: bold;
  position: fixed;
  width: 100%;
}

nav {
  font-size: 20px;
}

main {
  padding-top: 100px;
}

p {
  font-size: 100px;
}
