* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.4;
}

span[data-descriptor] {
  position: relative;
  cursor: help;
  color: hotpink;
}

span[data-descriptor]:hover::after {
  content: attr(data-descriptor);
  position: absolute;
  left: 0;
  top: 24px;
  max-width: 200px;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8em;
  color: white;
  background: deeppink;
}

/**
 * TODO
 * 1. arrow tooltip
 * 2. animation tooltip
 */
